<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="loop {{post_class}}">
	<div class="inner">
		{{#if feature_image}}
		<a class="loop-image" href="{{url}}">
			<img
				srcset="{{img_url feature_image size="s"}} 320w,
								{{img_url feature_image size="m"}} 640w,
								{{img_url feature_image size="l"}} 960w,
								{{img_url feature_image size="xl"}} 1920w"
				src="{{img_url feature_image size="xl"}}"
				alt="{{title}}" 
			/>
		</a>
		{{/if}}
		<div class="box post-box">
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<span class="post-meta loop">
				{{t "By"}}
				{{authors separator=", "}}
				{{#primary_tag}}{{t "in"}} <a class="post-meta-tag" href="{{url}}">{{name}}</a>{{/primary_tag}}
				{{t "on"}}
				<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
			<p class="post-excerpt">
				{{excerpt words="30"}}
				<a href="{{url}}">…</a>
			</p>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
